body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    color: rgb(10, 10, 10);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

::selection {
    background-color: #B1FF61;
    color: #104000;
}

::-moz-selection {
    background-color: #B1FF61;
    color: #104000;
}

a {
    text-decoration: none;
    color: #0084FF;
}

a:hover {
    text-decoration: none;
    color: #00873B;
}

h2, h3, h4 {
    clear: left;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

h2 span, h3 span, h4 span {
    border-bottom: 5px solid chartreuse;
    display: inline-block;
}

h2 a,
h3 a,
h4 a,
h2 a:hover,
h3 a:hover,
h4 a:hover,
.wiki-main h2 a,
.wiki-main h3 a,
.wiki-main h4 a,
.wiki-main h2 a:hover,
.wiki-main h3 a:hover,
.wiki-main h4 a:hover {
    color: inherit;
}

/* header background color */
#header-container {
    width: 100%;
    background-color: chartreuse;
    position: relative; /* for z-index */
    z-index: -2;
}

#header {
    margin: auto;
    max-width: 1200px;
    color: #00873B;
    padding: 30px 0 0 20px;
}

#logo {
    position: relative;
    /*margin-top: 30px;*/
}

#logo a {
    text-decoration: none;
    color: #00873B;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#logo span {
    padding-right: 20px;
    background-color: chartreuse;
}

#quote {
    margin: 30px 0;
    padding: 0;
    font-size: 1.8em;
    max-width: 800px;
}

#picture {
    float: right;
    border: 20px solid chartreuse;
    border-top: 0;
    height: 200px;
    max-height: 80%;
}

#navigation {
    list-style-type: none;
    width: 80%;
    max-width: 900px;
    height: 50px;
    background-color: #00873B;
    position: relative;
    top: 15px;
    padding: 0;
}

#navigation li {
    display: inline-block;
    float: left;
    width: 25%;
}

#navigation li a {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: white;
    width: 100%;
}



#navigation li a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#footer {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

div.main-wrapper {
    background-color: rgb(250, 250, 250);
}

div.main-wrapper.alternate {
    background-color: #00873B;
    color: white;
}

div.wiki-main {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

#content div.main-wrapper:first-child div.wiki-main {
    padding-top: 0;
}

/* horizontal bar on logo */
@media screen and (min-width: 550px) {
    #logo::after {
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        top: 45%;
        background-color: #00873B;
        z-index: -1;
    }
}

/* smaller header */
@media screen and (max-width: 860px) {
    #header {
        font-size: 12px; /* instead of 16 */
    }
    #picture {
        max-height: 70%;
    }
}

/* even smaller layout */
@media screen and (max-width: 700px) {
    
    /* full-width navigation */
    #navigation li a {
        font-size: 18px;
    }
    #navigation {
        width: 100%;
        position: initial;
        margin: 0;
    }
    
    /* hide picture */
    #picture {
        display: none;
    }
    
    /* smaller quote */
    #quote {
        font-size: 1.5em;
        margin-top: 1em;
    }
    
    /* show images vertically with text instead of float */
    div.wiki-main {
        display: flex;
        flex-direction: column;
    }
    div.wiki-image, div.wiki-imagebox {
        float: none !important;
        margin: 0 !important;
        text-align: center;
    }
    div.wiki-image-left, div.wiki-imagebox-left {
        order: 1;
    }
    div.wiki-image-right, div.wiki-imagebox-right {
        float: none;
        order: 2;
    }
}

/* tiny layout */
@media screen and (max-width: 550px) {
    
    /* switch to vertical navigation */
    #navigation {
        height: auto;
    }
    #navigation li {
        display: block;
        width: auto;
        float: none;
        border-top: 1px solid chartreuse;
    }
    #navigation li a {
        text-align: left;
        padding-left: 20px;
        display: block;
        width: auto;
    }
    
    /* hide quote */
    #quote {
        display: none;
    }
}
