body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    color: rgb(10, 10, 10);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: chartreuse;
}

a:hover {
    text-decoration: none;
    color: green;
}

h2, h3, h4 {
    clear: left;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

h2 span, h3 span, h4 span {
    border-bottom: 5px solid chartreuse;
    display: inline-block;
}

/* header background color */
#header-bg {
    width: 100%;
    position: absolute;
    background-color: chartreuse;
    height: 150px;
    z-index: -2;
    top: 0;
    left: 0;
}

#header {
    margin: auto;
    max-width: 1200px;
    height: 120px;
    color: green;
    padding-left: 20px;
    overflow: hidden;
}

body.main #header-bg,
body.main #header {
    height: 270px;
}


#logo {
    position: relative;
    margin-top: 30px;
}

#logo a {
    text-decoration: none;
    color: green;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#logo span {
    padding-right: 20px;
    background-color: chartreuse;

}

@media screen and (min-width: 700px) {
    #logo::after {
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        top: 45%;
        background-color: green;
        z-index: -1;
    }
}

#quote {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 1.8em;
    max-width: 800px;
}

#picture {
    float: right;
    border: 20px solid chartreuse;
    height: 200px;
    max-height: 80%;
}

@media screen and (max-width: 860px) {
    #header, #header-bg {
        height: 230px !important; /* instead of 270 */
        font-size: 12px; /* instead of 16 */
    }
    #picture {
        max-height: 70%;
    }
}

#navigation {
    list-style-type: none;
    width: 80%;
    max-width: 900px;
    height: 50px;
    background-color: green;
    position: relative;
    top: -25px;
    margin: 0 0 0 20px;
    padding: 0;
}

#navigation li {
    display: inline-block;
    float: left;
    width: 25%;
}

#navigation li a {
    height: 50px;
    line-height: 50px;
    /*padding: 0 10px;*/
    /*margin-left: 10px;*/
    /*background-color: red;*/
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: white;
    width: 100%;
}

@media screen and (max-width: 700px) {
    #header, #header-bg {
        height: 160px !important;
    }
    #navigation li a {
        font-size: 18px;
    }
    #navigation {
        width: 100%;
        position: initial;
        margin: 0 0 15px 0;
    }
    #picture, #quote {
        display: none;
    }
}


#navigation li a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#footer {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

div.main-wrapper {
    background-color: rgb(250, 250, 250);
}

div.main-wrapper.alternate {
    background-color: green;
    color: white;
}

div.wiki-main {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

#content div.main-wrapper:first-child div.wiki-main {
    padding-top: 0;
}
