body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    color: rgb(10, 10, 10);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background-color: #B1FF61;
    color: #104000;
}

::-moz-selection {
    background-color: #B1FF61;
    color: #104000;
}

a {
    text-decoration: none;
    color: #0084FF;
    transition: color 0.1s;
}

a:hover {
    text-decoration: none;
    color: #008750;
}

h2, h3, h4 {
    clear: left;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

h2 span, h3 span, h4 span {
    display: inline-block;
    background: transparent;
    border-radius: 15px;
    height: 5px;
    box-shadow: 0 1.6em 0 0 chartreuse;
}

h2 a,
h3 a,
h4 a,
h2 a:hover,
h3 a:hover,
h4 a:hover,
.q-main h2 a,
.q-main h3 a,
.q-main h4 a,
.q-main h2 a:hover,
.q-main h3 a:hover,
.q-main h4 a:hover {
    color: inherit;
}

/* header background color */
#header-bg {
    width: 100%;
    position: absolute;
    background-color: chartreuse;
    height: 270px;
    z-index: -2;
    top: 0;
    left: 0;
}

#header {
    margin: auto;
    max-width: 1200px;
    height: 270px;
    color: #008750;
    padding-left: 20px;
    overflow: hidden;
}

#logo {
    position: relative;
    margin-top: 30px;
}

#logo a {
    text-decoration: none;
    color: #008750;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

#logo span {
    padding-right: 20px;
    background-color: chartreuse;
}

#quote {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 1.8em;
    max-width: 800px;
}

#picture {
    float: right;
    border: 20px solid chartreuse;
    height: 200px;
    max-height: 80%;
    border-radius: 30px;
}

#navigation-container {
    max-width: 1200px;
    position: relative;
    top: -25px;
    margin: auto;
}

#navigation {
    list-style-type: none;
    width: 80%;
    max-width: 900px;
    height: 50px;
    background-color: #008750;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
    width: 20%;
}

#navigation li a {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: #fff;
    width: 100%;
    float: left;
    background-color: inherit; /* for transition */
    transition: background-color 0.2s;
}

#navigation li a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

#footer {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

div.main-wrapper {
    clear: both;
    background-color: rgb(250, 250, 250);
}

div.main-wrapper.alternate {
    background-color: #008750;
    color: #cbff96;
}

div.main-wrapper.image-background {
    color: #ffff;
    min-height: 500px;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px 4px #000;
    font-size: 1.5em;
    border-top: 5px solid chartreuse;
}

div.main-wrapper.alternate.image-background {
    text-align: right;
}

div.main-wrapper.image-background .q-p {
    display: inline-block;
    max-width: 60%;
}

div.main-wrapper.image-background .green-button {
    font-size: 0.8em;
    text-shadow: none;
}


div.main-wrapper.alternate a.q-link-internal,
div.main-wrapper.alternate a.q-link-page,
div.main-wrapper.alternate a.q-link-category,
div.main-wrapper.alternate a.q-link-other {
	color: chartreuse;
}

div.main-wrapper.alternate a:hover {
	color: #fff;
}

div.q-main {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

#content div.main-wrapper:first-child div.q-main {
    padding-top: 0;
}

div.qc-main-right {
    color: #008750;
    float: right;
    margin: 0 0 20px 20px;
    background-color: chartreuse;
    padding: 0 20px;
    border-radius: 15px;
}

div.qc-main-right h2 {
    margin: 20px 0;
}

.q-main .qc-social-buttons {
    margin: 20px 0;
}

.q-main .qc-social-buttons a {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #008750;
    border-radius: 100%;
    font-size: 25px;
    color: #fff;
    transition: color 0.2s;
}

.q-main .qc-social-buttons a:last-child {
    margin-right: 0;
}

.q-main .qc-social-buttons a:hover {
    color: chartreuse;
}

.fa-metacpan:before {
    content: "\2e2c";
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
    position: relative;
    bottom: 2px;
    left: 1px;
}

.q-main a.green-button {
    display: inline-block;
    padding: 0.5em 0.8em;
    background-color: chartreuse;
    color: #008750;
    font-size: 1em;
    margin: .8em .5em .8em 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    transition: background-color 0.2s, color 0.2s;
}

.q-main a.green-button i.fa, .q-main a.green-button i.fab {
    padding-right: 3px;
}

.q-main a.green-button:hover {
	color: #fff;
	background-color: #008750;
}


div.main-wrapper.alternate a.green-button:hover {
	background-color: #fff !important;
	color: #008750;
}

body.blend {
    background-color: chartreuse;
}

body.blend #footer {
    display: none;
}

@media screen and (max-width: 1220px) {
    #navigation { margin-left: 20px; }
}

/* horizontal bar on logo */
@media screen and (min-width: 550px) {
    #logo::after {
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        top: 45%;
        background-color: #008750;
        z-index: -1;
    }
}

/* smaller header */
@media screen and (max-width: 860px) {
    #header, #header-bg {
        height: 230px !important; /* instead of 270 */
        font-size: 12px; /* instead of 16 */
    }
    #picture {
        max-height: 70%;
    }
}

/* even smaller layout */
@media screen and (max-width: 700px) {
    #header, #header-bg {
        height: 160px !important;
        font-size: 10px; /* instead of 12 */
    }
    
    /* full-width navigation */
    #navigation li a {
        font-size: 18px;
    }
    #navigation-container {
        position: initial;
    }
    #navigation {
        width: 100%;
        margin: 0 0 15px 0;
        border-radius: 0;
    }
    
    /* hide picture */
    #picture {
        display: none;
    }
    
    /* smaller quote */
    #quote {
        font-size: 1.5em;
        margin-top: 1em;
    }
    
    /* show images vertically with text instead of float */
    div.q-main {
        display: flex;
        flex-direction: column;
    }
    div.q-image, div.q-imagebox {
        float: none !important;
        margin: 0 !important;
        text-align: center;
    }
    div.q-image-left, div.q-imagebox-left {
        order: 1;
    }
    div.q-image-right, div.q-imagebox-right {
        float: none;
        order: 2;
    }
    
    /* fix social buttons */
    div.qc-main-right {
        order: 3;
        margin: 20px 0 0 0;
        text-align: center;
    }

    /* reset align of alternating gallery previews */
    div.main-wrapper.image-background,
    div.main-wrapper.alternate.image-background {
        text-align: center;
    }
    div.main-wrapper.image-background .q-p {
        display: block;
        max-width: none;
    }
}

/* tiny layout */
@media screen and (max-width: 550px) {
    #header, #header-bg {
        font-size: 9px; /* instead of 10 */
    }
    /* switch to vertical navigation */
    #navigation {
        height: auto;
    }
    #navigation li {
        display: block;
        width: auto;
        float: none;
        border-top: 1px solid chartreuse;
    }
    #navigation li a {
        text-align: left;
        padding-left: 20px;
        display: block;
        width: auto;
        float: none;
    }
    .green-buttons {
        text-align: center;
    }
}